<div class="container text-center">
  <h1>Today is <%= Date.today %></h1>

  <ul>
    <% %w(ERB, middleman, whatever).each do |tech| %>
    <li> Today we are playing with <%= tech %></li>
    <% end %>
  </ul>
</div>
